<mat-card class="forgot-password-card" appearance="outlined" style="max-width: 400px; margin: 0 auto; padding: 16px; margin-top: 5%;">
    <!-- Card Header -->
    <mat-card-header>
      <mat-card-title style="text-align: center; font-size: 24px; margin-bottom: 15px;">
        Reset Password
      </mat-card-title>
    </mat-card-header>
  
    <!-- Card Content: Email Field -->
    <mat-card-content>
      <form  [formGroup]="sendEmailForm" (ngSubmit)="sendEmail()">
        <!-- Email Input -->
        <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 10px;">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Enter your email"  formControlName="email" ngModel required email/>
        </mat-form-field>
  
        <!-- Submit Button -->
        <mat-card-actions style="display: flex; justify-content: center; margin-top: 10px;">
          <button mat-raised-button color="primary" type="submit" ><!-- [disabled]="!forgotPasswordForm.valid"-->
            Submit
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  
    <!-- Footer -->
    <mat-card-footer style="text-align: center; margin-top: 8px;">
      <a routerLink="/login" style="text-decoration: none; color: #3f51b5;">Back to Login</a>
    </mat-card-footer>
  </mat-card>
